{% extends "processes/base.html" %}

{% block title %}Choose payment method{% endblock %}

{% block content %}

    <div id="subscribe-form">

	    <h3>Please select your preferred payment method:</h3>

        <form method="post" action="/payment/acquire/redirect" class="top bottom">

            {% csrf_token %}

            <label>Payment method:</label>
            <select name="payment_method">
              <option value="cc">Credit card</option>
              <option value="phone">Telephone bill</option>
            </select>
            <br />

            <label>Value:</label>
            <input name="payment_value" type="text">

            <label>First name:</label>
            <input name="first_name" type="text" value={{ first_name }}>

            <label>Last name:</label>
            <input name="last_name" type="text" value={{ last_name }}>

            <label>Email:</label>
            <input name="last_name" type="text" value={{ email }}>

            <label>Gender:</label>
            <input name="gender" type="text" value={{ gender }}>

            <label>City:</label>
            <input name="city" type="text" value={{ city }} >

            <label>Address:</label>
            <input name="address" type="text" value={{ address }}>

            <label>Postal Code:</label>
            <input name="address" type="text" value={{ postal_code }}>

            <label>Country:</label>
            <input name="address" type="text" value={{ country }}>

            <input name="token" type="hidden" value={{ code }}>

            <div class="center">
                <button>Continue</button>
            </div>

        </form>
    </div>
{% endblock %}