<!--{% extends "processes/base.html" %}-->

{% block title %}Payment method{% endblock %}

{% block content %}
<head>
    <meta charset="utf-8" />
    <title>Payment Method</title>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/paymentform.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/commons_fonts.css" />
</head>

<body>
    <div class="general">
        <header class="header">
                <h1 class="titlePage">Telefonica Acquisition<img src="{{ STATIC_URL }}img/lgo_telefonica_main.gif" class="logo"></h1>
        </header>

        <section>
            <article>
                <h2 id="welcome">Please select you preferred payment method:</h2>

                <div id="subscribe-form">

                    <form method="post" action="/payment/acquire/redirect" class="top bottom">
                        <p><label class="profile">Payment method:</label>
                        <select name="payment_method">
                          <option value="cc">Credit card</option>
                          <option value="phone">Telephone bill</option>
                        </select></p>

                        <p><label class="profile">Value:</label>
                        <input class="form text" name="payment_value" type="text"></p>

                        <p><label class="profile">First name:</label>
                        <input class="form text" name="first_name" type="text" value={{ first_name }}></p>

                        <p><label class="profile">Last name:</label>
                        <input class="form text" name="last_name" type="text" value={{ last_name }}></p>

                        <p><label class="profile">Gender:</label>
                        <input class="form text" name="gender" type="text" value={{ gender }}></p>

                        <p><label class="profile">Email:</label>
                        <input class="form text" name="last_name" type="text" value={{ email }}></p>

                        <p><label class="profile">Address:</label>
                        <input class="form text" name="address" type="text" value={{ address }}></p>

                        <p><label class="profile">Postal Code:</label>
                        <input class="form text" name="address" type="text" value={{ postal_code }}></p>

                        <p><label class="profile">City:</label>
                        <input class="form text" name="city" type="text" value={{ city }}></p>

                        <p><label class="profile">Country:</label>
                        <input class="form text" name="address" type="text" value={{ country }}></p>

                        <p class="profile" id="tandc"><input class="form" id="check" type="checkbox" name="tandc" value={{ accept }}><label>I have read and agree to the <a href="/tos">Terms & Conditions</a></label></p>

                        <input name="token" type="hidden" value={{ code }}>

                            <button class="button hire">Continue</button>

                    </form>
                </div>
            </article>
        </section>

        <footer class="footer">
            <p class="foot">&copy; Telefonica Digital and Open Innovation Lab (UPM), 2013</p>
        </footer>
    </div>
{% endblock %}