<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/common.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/commons_fonts.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/dCustom0.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/dStandard.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/elements.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/extended.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/paymentform.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/setup.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/telefonica1css.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/telefonica2css.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/telefonica3css.css" />
    <!-- <link rel="stylesheet" href="{{ STATIC_URL }}css/telefonica4css.css" />  -->
    <link rel="stylesheet" href="{{ STATIC_URL }}css/zen-componentsCompatible.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/acquire.css" />
    
    <title>{% block title %}Telefonica Acquisition{% endblock %}</title>
</head>

<body>
    <div id="content">
        {% block content %}{% endblock %}
    </div>

</body>
</html>