.navbar-inner {
	-webkit-border-radius : 0;
	-moz-border-radius : 0;
	border-radius : 0
}

.list {
	padding: 0;
	background-color: #fff;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-webkit-box-shadow: 0 1px 4px rgba(0,0,0,.065);
	-moz-box-shadow: 0 1px 4px rgba(0,0,0,.065);
	box-shadow: 0 1px 4px rgba(0,0,0,.065);
}

/*
.list > li:first-child > a {
	-webkit-border-radius: 6px 6px 0 0;
	-moz-border-radius: 6px 6px 0 0;
	border-radius: 6px 6px 0 0;
}
*/


.list > li > a {
	display: block;
	width: 190px 9;
	margin: 0 0 -1px;
	padding: 8px 14px;
	border: 1px solid #e5e5e5;
}

.list .icon-chevron-right,
.list .icon-chevron-down,
.list .icon-chevron-up {
	float: right;
	margin-top: 2px;
	margin-right: -6px;
	opacity: .25;
}

.border {
	-webkit-border-radius : 6px;
	-moz-border-radius : 6px;
	border-radius : 6px;
	border : 1px solid #e5e5e5;
	padding : 10px;
}

.table { margin-bottom : 0; }

.subtitle {
	color : #333333;
	display : inline;
}

	.subtitle label {
		display : inline;
		margin : 10px 0;
	}

	.subtitle time { display : inline; }

.json {
	min-height: 100px;
	border: 1px solid #e5e5e5;
	margin-bottom: 5px;
}

.info {
	border: 1px solid #e5e5e5;
}

.startDate {
	margin-left: 8.333333333%;
}



/*********************************/

.container {
    background-color: #f8f8f8;

    border-top: 3px solid #56458c;
    border-right: 1px solid #e0e3e5;
    border-bottom: 1px solid #e0e3e5;
    border-left: 1px solid #e0e3e5;

	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;

    margin-top: 5px;
    padding: 2px 5px 10px;
    overflow : auto;
}

.th {
	background: #f2f3f3;
	color: #000;
	font-size: .9em;
	font-weight: bold;
	border-left : 1px solid #e0e3e5;
	border-bottom : 1px solid #e0e3e5;
	text-align : left;
}

table {
	width : 100%;
	background : white;
	border-spacing: 0px;
	border: 1px solid #e0e3e5;
}

th:first-child { border-left : 0; }
th:last-child { border-right : 0; }


tbody tr {
	border-color: #ededed;
	border-top-color: #fff;
}

td {
	font-family: 'Arial','Helvetica',sans-serif;
	font-size: 0.85em;
	line-height: normal;
}

td, th { padding-left: 5px; }

a {
	color : #333435;
	cursor: auto;
	text-decoration: underline;
	white-space: nowrap;
}

a:hover {
	color: #015ba7;
	text-decoration: underline;
}

select {
	margin-right: 4px;
	font-size: 0.9em;
	padding: 1px 10px 1px 1px;
}

h1, h2, h3, h4 {
	color: #000;
	font-size: 1.1em;
	font-weight: bold;
	margin-top: 0.25em;
	margin-bottom: 0.5em;
}

h3 { font-size: 1em; }
h4 { font-size: 0.9em; }

.results-title {
	padding-top: 1em;
	padding-left: 2em;
}

body {
	color: #222;
	font-family: 'Arial','Helvetica',sans-serif;
	font-size: 100%;
	line-height: normal;
}

.detail {
	text-align: center;
}

[class*="icon-"] {
	background-image: url("../img/glyphicons-halflings.png");
	background-repeat: no-repeat;

	display: inline-block;
	margin-top: 1px;
	line-height: 14px;

	vertical-align: text-top;
  	opacity: .35;

	height: 14px;
	width: 14px;

}

.icon-chevron-right { background-position: -456px -72px;  }
.icon-chevron-up    { background-position: -288px -120px; }
.icon-chevron-down  { background-position: -313px -119px; }



.dates {
	font-size: 0.9em;
	margin-bottom: 1em;
}
