#subscribe-form form p {
	margin-top: 10px;
	margin-bottom: 10px;
}

#subscribe-form .errorlist {
	padding-top: 0px;
	color: red;
}

#subscribe-form input[type=file] {
    border: 0px;
}

#subscribe-form .no-border {
	border: 0px;
}