html, body, 
p, a,
ol, ul, li,
img,
h1, h2, h3, h4, h5, h6 {
   margin   : 0;
   padding  : 0;
   outline  : 0 none;
}

html, body {
    background-color: #000000;
    color: #555555;
    font-family: "TelefonicaTextRegular", Verdana, Arial, Helvetica, sans-serif;
    font-size: 1em;

    min-height : 100%;
    max-height : 100%;

    height     : 100%;

}

body {
    position: relative;
    width: 1280px;
    padding: 0;
    margin: 0 auto 0 auto;
    clear: both;
}

a {
    color: #5dcde9;
    height: 30px;
    text-decoration: none;
}

a:hover {
    color: #C0C0C0;
    text-decoration: none;
}

li#home a.iconhome {
    background: url(../img/home.gif) center top no-repeat transparent;
}

li#home a.iconhome:hover {
    background: url(../img/home_gris.gif) center top no-repeat transparent;
    display: block;
    margin: 2px 0 0;
}


.aprofile {
    padding-left: 150px;
    padding-right: 150px; 
    width: 950px;
}

.auto   { margin     : auto;   }

.border {
   border        : 1px solid #CCC;
   border-radius : 15px;
}

.button {
    background: -webkit-gradient(linear, left top, left bottom, from(#03485A), to(#003744));
    background: -webkit-linear-gradient(top, #03485A, #003744);
    background:    -moz-linear-gradient(top, #03485A, #003744);
    background:     -ms-linear-gradient(top, #03485A, #003744);
    background:      -o-linear-gradient(top, #03485A, #003744);

    border: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: rgba(0,0,0,.5) 0 1px 0;
    -moz-box-shadow: rgba(0,0,0,.5) 0 1px 0;
    box-shadow: rgba(0,0,0,.5) 0 1px 0;

    color: white;
    display : inline-block;

    position: relative;
    left: 61.5%;

    font-family: "TelefonicaTextBold", Helvetica, Arial, Sans-Serif;

    text-align: center;
    text-decoration: none;
    text-shadow: rgba(0,0,0,.4) 0 1px 0;

    vertical-align: middle;
   
}

.center { text-align : center; }

#check {
    padding-right: 2px;
}

.description {
    height: 250px;
    padding: 10px;
    width: 375px;
}

div .session {
    white-space: nowrap;
    width: 100%;
}

div .session:before {
    content: "";
    display: inline-block;
    height: 90px;
    vertical-align: middle;
    width: 1px;
}

#fbimg {
    float: right;
    height: 50px;
    margin: 0 20px 0 0;
    padding: 0;
    width: 50px;
    z-index: 3;
}

.foot {
    bottom: -100px;
}

.footer {
    background: url(../img/bgd_pie.png) center bottom no-repeat;
    color: white;
    /*display: inline-block;*/
    bottom     : 0;
    margin: auto;
    text-align : center;
    width      : 100%;
    height     : 200px;
    position: absolute;
    vertical-align: middle;
    z-index: 10;
}

.form {
    background: rgb(199, 199, 199, 0);
    background: rgba(199, 199, 199, 0.7);
    border: none; 
    border-radius: 2px;
    margin-left: 2px;
    padding: 3px 10px 3px 10px;
}

.general {
    background: none no-repeat scroll center top #FFFFFF;
    position: relative;
    z-index: 10;
    height: 100%;
    margin: 0 auto 0 auto;
    min-height: 900px;
    clear:both; 
    width:100%; 
    overflow:hidden;
}

.header {
    background: url(../img/bgd_cabecera_micrositio.png) center top no-repeat;
    color: white;
    display: inline-block;
    font-family: Helvetica, Arial, Sans-Serif;
    height: 200px;
    top : 0;
    vertical-align: middle;
    width: 100%;
    overflow: hidden;


}

.hire {
    font-size: 16px;
    margin: 15px;
    padding: 5px;
    width: 110px;
}

.left   { float      : left;   }

li {
    float: left;
}

.logo {
    float: left;
    margin: -15px 0 0 200px;
    width: 203px;
}

.menu {
    color:#5dcde9;
    cursor:default;
    display:block; 
    font-family: 'TelefonicaTextRegular', Arial, Helvetica, sans-serif;
    font-size: 1.36em;
    float: left;
    height: 30px;
    line-height:1em;
    list-style-type:none;
    padding: 20px 22px 0 0;
    text-align: center;
    z-index: 100000;

}

nav {
    padding: 0;
    position: relative;
}

p{
    padding: 4px ;
    position: relative;
    vertical-align: middle;
}

.profile {
    float: left;
    padding: 6px;
    padding-left: 300px;
    width: 200px;
}

#profilemenu {
    padding: 0;
}

.save {
    left: 130px;
    position: absolute;
    top: -155px;
}

section {
    overflow: hidden;
    margin: 15px;
    padding: 20px;
    position: relative;
    top: -40px;
}

section input{
    width: 10%;
}

section img {
    float: left;
    margin-right: 25px;
    padding: 0px;
    width: 160px;
    height: 160px;
}

section article {
    display: table;
}

.separator {
    background: url(../img/bgd_contenido_interior.gif) center top no-repeat;
    height: 2px;
    left: -150px;
    position: relative;
    top: -50px;
    width: 100%;
}

#separator {
    background: url(../img/bgd_sepnavinf.gif) center top no-repeat;
    list-style-type:none;
    width: 2px;
}

.session {
    color: #259DCD;
    display: inline-block;
    font-family: "TelefonicaHeadlineLightRegula",Arial, Helvetica, sans-serif;
    font-size: 1em;
    font-weight: normal;
    letter-spacing:-0.02em;
    line-height: 1.1em;
    height:70px;
    position: relative;
    overflow: hidden;
    top: -50px;
    text-align: right;
    vertical-align: middle;
    width: 100%;
    z-index: 1;
}

#session {
    float: right;
    top: -10px;
    width: 80%;
}

.special {
    margin-left: 20px;
    margin-top: -5px;
}

.stext {
    width: 100px;
}

#tandc{
    color: black;
    font-size: 0.8em;
    width: 600px;
    
}

.text {
    width: 280px;
}

textarea {
    resize: none;
}


.titlePage {
    float: right;
    font-size: 3.5em; 
    font-family: "TelefonicaHeadlineLightRegula", Arial, Helvetica, sans-serif;
    font-weight: normal;
    line-height:50px;
    margin: 15px 0 0px -50px;
    padding: 0 0 7px 0;
    position: absolute;
    text-align: right;
    width: 100%
}

ul {
    height: 30px;
    padding: 7px 0 0 40px; 
    position: relative;
    top: -50px;
}

#welcome {
    border-radius: 5px;
    color: #00517c;
    font-family: "TelefonicaHeadlineLightRegula",Arial, Helvetica, sans-serif;
    font-size: 2.5em ;
    font-weight: normal;
    letter-spacing:-0.02em;
    line-height: 1.1em;
    padding:0 0 34px 0;
    /*padding: 5px;*/
    margin: 5px;

    display:block; 
}

