<html>
<head>
<title>TAC Protolab DEMO SITE</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>
<link href="{{ STATIC_URL }}css/style_index.css" rel="stylesheet" type="text/css">
<center>
<body bgcolor="#FFFFFF" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">

<table width="776" height="681" border="0" cellpadding="0" cellspacing="0">
<tr>
	  <td width="553"><p>This is a TAC-protolab demo site to evaluate a new architecture aproach for tef digital products that may need billing and CRM in a simple and scalable way. </p>
	    <p>&nbsp;</p>
	    <p><img src="{{ STATIC_URL }}img/m1.jpg" width="553" height="365" alt=""></p>
      <p>&nbsp;</p>
      <p>&nbsp;</p></td>
        
   <td width="223" bgcolor="#FFFFFF" class="tableDetail"><blockquote>
     <p><a href="https://oil-developer-edition.na14.force.com/">Marketing Portal (facebook) </a><br>     
       <a href="/processes/launch_sync_invoicing">Syncronous billing</a> <br>     
       <a href="/processes/launch_invoicing">Asyncronous billing</a></p>
   </blockquote></td>
</tr>       
 
</table>
<span class="text2">Telef&oacute;nica Digital UK Ltd VAT Reg No: GB 999 9999 99</br>
20 Air St London W1B, London, United Kingdom</br>
<br />
Contact us at <a href="mailto:support@telefonica.com">tac@tid.es</a> | <a href="http://teldigital-developer-edition.na9.force.com/terms_and_conditions.html">Terms and conditions</a></span>
</body>
</center>
</html>